<h2>Ваш заказ оформлен, наш менеджер свяжится с вами!</h2>

<script type="text/javascript">
	$(function() {
		window.localStorage.clear();
		update_orders_input();
		update_orders_button();
    });
</script>